[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Scripting Client
Name[de]=Skript-Client
GenericName=Scripting Client
GenericName[de]=Scripting-Client
Exec=dispcalGUI-scripting-client
Icon=dispcalGUI-scripting-client
Terminal=false
Categories=Graphics;
Comment[de]=dispcalGUI mit einfachen Skript-Befehlen steuern
Comment=Control dispcalGUI via simple scripting commands
