[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=dispcalGUI VRML to X3D converter
Name[de]=dispcalGUI VRML zu X3D Konverter
GenericName=VRML to X3D converter
GenericName[de]=VRML zu X3D Konverter
Exec=dispcalGUI-VRML-to-X3D-converter
Icon=dispcalGUI-VRML-to-X3D-converter
Terminal=false
Categories=Graphics;
Comment[de]=Konvertiert VRML-Dateien zu X3D eingebettet in HTML
Comment=Converts VRML files to X3D embedded in HTML
MimeType=model/vrml;x-world/x-vrml;
