[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ICC Profile Info
Name[de]=ICC-Profil-Info
GenericName=ICC profile information
GenericName[de]=ICC-Profil-Information
Exec=displaycal-profile-info
Icon=displaycal-profile-info
Terminal=false
Categories=Graphics;
Comment[de]=Zeigt Informationen über ein ICC-Profil. Graphen unterstützen nur ICC v2.
Comment=Shows information about an ICC profile. Graphs only support ICC v2.
