[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Testchart Editor
Name[de]=Testform-Editor
GenericName=Testchart editor
GenericName[de]=Testform-Editor
Exec=displaycal-testchart-editor
Icon=displaycal-testchart-editor
Terminal=false
Categories=Graphics;
Comment[de]=Ein Testform-Editor und -Erzeuger für RGB-Testformen im ArgyllCMS-CGATS-Format
Comment=A testchart editor and creator for RGB testcharts in ArgyllCMS CGATS format
