[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=dispcalGUI Testchart Editor
Name[de]=dispcalGUI Testform-Editor
GenericName=Testchart editor
GenericName[de]=Testform-Editor
Exec=dispcalGUI-testchart-editor
Icon=dispcalGUI-testchart-editor
Terminal=false
Categories=Graphics;
Comment[de]=Ein Testform-Editor und -Erzeuger für RGB-Testformen im Argyll-CMS-CGATS-Format
Comment=A testchart editor and creator for RGB testcharts in Argyll CMS CGATS format
