[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Synthetic ICC
Name[de]=Synthetik-ICC
GenericName=Synthetic RGB ICC profile creator
GenericName[de]=Ersteller für synthethische RGB-ICC-Profile
Exec=displaycal-synthprofile
Icon=displaycal-synthprofile
Terminal=false
Categories=Graphics;
Comment[de]=Erstellt ICC-Profile von synthetischen RGB-Farbräumen
Comment=Creates ICC profiles of synthetic RGB colorspaces
