[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=DisplayCAL
Name[de]=DisplayCAL
GenericName=Display Calibration
GenericName[de]=Anzeigegerätekalibrierung
Exec=displaycal
Icon=displaycal
Terminal=false
Categories=Graphics;
Comment[de]=Eine Anzeigegeräte-Kalibrierungs- und Profilierungslösung mit einem Fokus auf Genauigkeit und Vielseitigkeit
Comment=A display calibration and profiling solution with a focus on accuracy and versatility
