* {
	font-family: Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
a {
	outline: none;
	text-decoration: none;
}
a:link,
a:active {
	color: #006699;
}
a:visited {
	color: #666666;
}
a:hover,
a:visited:hover {
	border-bottom: 1px dotted #0099CC;
	color: #0099CC;
	text-decoration: none;
}
a, button, button:active, button:hover {
	outline: none;
}
html {
	background: #e8e8e8;
	border-top: 4px solid #666666;
}
body {
	background: white;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	font-size: 11px;
	margin: 17px auto;
	padding: 15px 20px;
	width: 900px;
}
button {
	background: #cccccc;
	border: 1px solid #999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #666666;
	font: normal 1em Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	padding: 2px 6px;
}
button:active,
button:active:hover,
button:active:focus {
	background: #cccccc;
	border-color: #333333;
}
button.disabled {
	background: #dddddd;
	border-color: #cccccc;
	color: #cccccc;
}
button:hover, 
button.hover {
	background: #333333;
	border-color: #333333;
	color: #b9b9b9;
}
button.disabled:hover, 
button.disabled.hover,
button.disabled:focus,
button.disabled.focus {
	background: #dddddd;
	border-color: #cccccc;
	color: #cccccc;
}
h2 {
	color: #333333;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 20px;
	margin-bottom: 9px;
}
h3 {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
p {
	line-height: 18px;
}
fieldset, div.fieldset {
	border-style: solid;
	border-top-width: 25px;
	border-width: 4px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 10px 0 0 0;
	padding: 10px;
}
div.fieldset {
	border-top-width: 4px;
	padding-top: 31px;
	position: relative;
}
legend, h2.legend {
	border-top-style: solid;
	border-top-width: 4px;
	display: block;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	margin: 0;
	padding: 3px 0 7px;
	text-transform: uppercase;
}
h2.legend {
	left: 0;
	margin-top: 0;
	padding: 0px 10px 7px;
	position: absolute;
	right: 0;
	top: 0;
}
form,
div.process {
	clear: both;
}
#F_out {
	margin-bottom: 20px;
}
form {
	margin: 0;
}
h1 {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font: lighter 12px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	margin: 0;
	padding: 12px;
	position: relative;
	text-indent: .5em;
	z-index: 1;
}
label.disabled {
	color: gray;
}
p.error {
	color: red;
	font-weight: bold;
	margin: 20px 14px 10px 14px;
}
select {
	background: #f9f9f9;
	border: 1px solid #999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: normal 1em Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	margin-right: 5px;
	padding: 1px;
}
select:hover, 
select:focus {
	background: white;
	border-color: #333333;
}
#report {
	display: none;
}
.options {
	display: inline-block;
	margin: 6px 0 10px;
	width: 430px;
}
.functions {
	display: inline-block;
	margin: 6px 0 10px;
	text-align: right;
	width: 430px;
}
input[type=checkbox] {
	vertical-align: middle;
}
label[for=FF_gray_balance_cal_only] {
	display: none;
}