fieldset, div.fieldset {
	background: #ececec;
	border-color: #202020;
}
legend, h2.legend {
	background: #202020;
	border-color: #202020;
	color: #b9b9b9;
}
h1 {
	background: #bbbbbb;
	border-color: #cccccc;
	color: #202020;
}
