* {
	font-family: Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
a {
	outline: none;
	text-decoration: none;
}
a:link,
a:active {
	color: #006699;
}
a:visited {
	color: #666666;
}
a:hover,
a:visited:hover {
	border-bottom: 1px dotted #0099CC;
	color: #0099CC;
	text-decoration: none;
}
a, button, button:active, button:hover {
	outline: none;
}
html {
	background: #e8e8e8;
	border-top: 4px solid #666666;
}
body {
	background: white;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	font-size: 11px;
	margin: 17px auto;
	padding: 15px 20px;
	width: 900px;
}
button {
	background: #cccccc;
	border: 1px solid #999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #000;
	font: normal 1em Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	padding: 2px 6px;
}
button:active,
button:active:hover,
button:active:focus {
	background: #cccccc;
	border-color: #333333;
}
button.disabled {
	background: #dddddd;
	border-color: #999;
	color: #999;
}
button:hover, 
button.hover {
	background: #333333;
	border-color: #333333;
	color: #fff;
}
button.disabled:hover, 
button.disabled.hover,
button.disabled:focus,
button.disabled.focus {
	background: #dddddd;
	border-color: #999;
	color: #999;
}
h2 {
	color: #333333;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 9px;
}
h3 {
	cursor: pointer;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
p {
	line-height: 18px;
}
fieldset, div.fieldset {
	border-style: solid;
	border-width: 4px;
	border-top: none;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	padding: 10px;
}
h2.legend {
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	display: block;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	margin: 10px 0 0;
	padding: 8px 14px 7px;
	text-transform: uppercase;
}
form,
div.process {
	clear: both;
}
#F_out {
	margin-bottom: 20px;
}
form {
	margin: 0;
}
h1 {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font: lighter 12px Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	margin: 0;
	padding: 12px 15px;
	z-index: 1;
}
p.error {
	color: red;
	font-weight: bold;
	margin: 20px 14px 10px 14px;
}
select,
select:disabled:hover,
select:disabled:focus {
	background: #f9f9f9;
	border: 1px solid #999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: normal 1em Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	margin-right: 5px;
	padding: 1px;
}
select:hover, 
select:focus {
	background: white;
	border-color: #333333;
}
#report,
#reporttitle {
	/* display: none; oddly cuts off part of the summary in IE6 */
	visibility: hidden;
}
.disabled {
	color: #999;
}
.options {
	margin: 6px 0 10px;
	width: 430px;
}
.functions {
	margin: 6px 0 10px;
	text-align: right;
}
.functions button {
	width: 17em;
}
* > .functions {
	float: right;
	width: 430px;
}
input[type=checkbox] {
	vertical-align: middle;
}
label[for=FF_gray_balance_cal_only] {
	display: none;
}
table {
	width: 872px;
}
td, th {
	font-size: 11px;
}