fieldset, div.fieldset {
	background: #ececec;
	border-color: #cccccc;
}
legend, h2.legend {
	background: #cccccc;
	border-color: #cccccc;
	color: #666666;
}
h1 {
	background: #bbbbbb;
	border-color: #cccccc;
	color: #202020;
}
